@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-text-main antialiased;
  }
}

@layer utilities {
  .bg-grid-pattern {
    background-size: 40px 40px;
    background-image: linear-gradient(to right, rgba(100, 116, 139, 0.05) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(100, 116, 139, 0.05) 1px, transparent 1px);
  }
}